*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(158, 129, 129);
    /* background-image:url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
/**********************register and login forms ***************************/

.form-box{
    width: 380px;
    height: 80vh;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 2%;
    /* the overflow is to hide the form-box that we don't want to show */
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 3% auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(139, 36, 53);
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgb(140, 21, 41), pink);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(140, 21, 41), pink);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: gray;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

/********************** the navbar ***************/

nav{
    background: rgb(139, 38, 55);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: pink;
    transition: 0.5s;
    color: rgb(139, 38, 55);
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(56, 18, 24);
        top: 80px;
        left: -100%;
        text-align: center;
        z-index: 1;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: pink;
    }
    #check:checked ~ ul{
        left: 0;

    }
}


/*********************************To do list **************************/


.main-section{
    background: transparent;
    max-width: 500px;
    width: 90%;
    height: 100%;
    margin: 30px auto;
    border-radius: 10px;
}

.add-section{
    width: 100%;
    background: white;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
}

.add-section input{
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2px solid gray;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 5px;
}

.add-section button{
    display: block;
    width: 95%;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    background: linear-gradient(to right, rgb(140, 21, 41), pink);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-section  button:hover{
    box-shadow: 0 2px 2px 0 rgb(140, 21, 41), 0 2px 3px 0 rgb(140, 21, 41);
    opacity: 0.7;
}

.add-section button span{
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
}
/* error massages style */
#errorMes{
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0 auto;
    color: rgb(139, 36, 53);
    padding: 10px;
    height: 35px;
}

.showToDoList{
    width: 100%;
    background: white;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
}

.toDoItems{
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    border-radius: 5px;
}

.toDoItems h2{
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    color: rgb(68, 62, 62);
}

.toDoItems small{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: gray;
    padding-left: 30px;
    font-size: 14px;
}

/* remove a task class */

.remove-to-do{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    color: rgb(138, 36, 36);
    text-decoration: none;
    text-align: right;
    padding: 0 5px 8px 0;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
}

.remove-to-do:hover{
    background: rgb(138, 36, 36);
    color: white;
}

/* when a task is checked */

.checked{
    color: gray;
    text-decoration: line-through;
}

.toDoItems input{
    margin: 0 5px;
}

.empty{
    font-size: 16px;
    text-align: center;
    color: gray;
}

.error p{
    color: red;
    text-align: center;
    font-size: 16px;
}